.cardInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.cardHeader {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    font-family: 'Courier New', Courier, monospace;
}

.columnProps {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.editButton {
    margin: 5px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    background-color: #19B0AE;
    font-family: 'Courier New', Courier, monospace;
}

.imageContainer {
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
}

.abilitiesContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.evolutions {
    width: 60%;
    display: flex;
    flex-direction: row;
}

.evoContainer {
    margin: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #000000;
    text-align: center;
}